#greeting {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-bottom: 50px;
}
#greeting div:first-child {
  display: inline-block;
  width: 400px;
  height: 300px;
  margin-right: 4vw;
  box-sizing: border-box;
  background-image: url("/img/self_portrait.jpg");
  background-size: cover;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#greeting div:nth-child(2) {
  display: inline-block;
  font-size: 18px;
}
#greeting div:nth-child(2) h2 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
#greeting div:nth-child(2) h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.8em;
}
#greeting div:nth-child(2) p {
  line-height: 1.15em;
  margin-bottom: 0.4em;
}
#greeting div:nth-child(2) p:last-child {
  margin-top: 30px;
}

#contact {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 18px;
}
#contact > div {
  padding: 0 20px;
}
#contact > div:first-child {
  flex-grow: 1;
  padding-right: 40px;
  border-right: 2px solid #CCCCCC;
}
#contact > div:last-child {
  padding-left: 40px;
  flex-basis: 360px;
  flex-grow: 0;
  flex-shrink: 0;
  order: 2;
}
#contact h3 {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 20px;
}
#contact form div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
#contact form span {
  margin-left: 4px;
  font-size: 0.78em;
  color: #B70104;
}
#contact form span.success {
  color: #009008;
}
#contact input {
  display: inline-block;
  width: 45%;
  min-width: 250px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #CCCCCC;
  transition: border-bottom-color 0.2s;
  margin-bottom: 18px;
}
#contact input:first-child {
  margin-right: 10%;
}
#contact input:first-child:focus {
  border-bottom-color: #F3722C;
}
#contact input:nth-child(2):focus {
  border-bottom-color: #F8961E;
}
#contact textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-bottom: 18px;
  box-sizing: border-box;
  background-color: #EEEEEE;
  border-radius: 20px;
  border: 2px solid #CCCCCC;
  outline: none;
  resize: none;
  transition: border-color 0.2s;
}
#contact textarea:focus {
  border-color: #43AA8B;
}
#contact button {
  width: 130px;
  padding: 5px 20px;
  border: 2px solid #CCCCCC;
  border-radius: 20px;
  background-color: #EEEEEE;
  cursor: pointer;
}
#contact p {
  height: 40px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}
#contact p a {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  width: 190px;
  padding: 5px 20px 5px 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  background-color: #EEEEEE;
  border-radius: 20px;
  border: 2px solid #CCCCCC;
}
#contact p a img {
  display: inline-block;
  height: 100%;
  width: 67px;
  object-fit: contain;
}
#contact p a span {
  font-size: 1.1em;
  line-height: 40px;
}
#contact p:nth-child(2) a img {
  position: relative;
  left: 2.6px;
}
#contact p:nth-child(4) a img {
  position: relative;
  bottom: -1px;
  transform: scale(1.15);
}

/*# sourceMappingURL=index.css.map */
