$header-height: 70px;
$box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
$card-background:  #EEEEEE;
$card-border-radius: 20px;
$project-cards-map: (
    nsl: (17%, #7A94FF),
    gh: (31%, #8C52FF),
    she: (15%, #D9025C),
    bact: (7%, #7A94FF),
    tvcd: (14%, #000000),
    cd: (31%, #49AF7F),
    fh: (27%, #2C264D),
);