@use "var";
@use "mix";

body {
    // background-color: #F2F2F2;
    background-color: #E1E1E1;
}

header {
    position: fixed;
    z-index: 10;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: var.$header-height;
    width: 100%;
    padding: 0 50px;
    // background-color: white;
    // background-color: #F2F2F2;
    background-color: #E1E1E1;
    box-sizing: border-box;
    box-shadow: var.$box-shadow;

    div:first-child {
        display: inline-block;
        vertical-align: top;
        height: var.$header-height;
        width: 330px;
        margin-right: 60px;

        h1 {
            margin: 0;
            font-weight: 600;
            line-height: var.$header-height;

            a {
                text-decoration: none;
                color: black;
                transition: 0.3s;

                &:hover {
                    color: #BA181B;
                }
            }
        }
    }

    div:nth-child(2) {
        display: inline-block;
        vertical-align: top;
        height: var.$header-height;
        margin-left: auto;

        a {
            @include mix.header-text();
        }
    }
}

#menu-icon {
    display: none;
}

#mobile-nav {
    position: fixed;
    z-index: 5;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    width: 300px;
    height: 100vh;
    display: flex;
    padding-top: var.$header-height;
    background-color: #E1E1E1;
    box-shadow: var.$box-shadow;
    transform: translateX(calc(100vw + 300px));
    transition: transform 0.3s;

    &.show {
        transform: translateX(calc(100vw - 300px));
    }

    a {
        @include mix.header_text();
        line-height: 30px;
        margin: 20px 0;
    }
}

main {
    padding: (var.$header-height + 50px) 50px;
}

code {
    font-family: "Consolas", "sans-serif";
    padding: 3px 6px;
    border: 1px solid #CCCCCC;
    background-color: #DDDDDD;
    border-radius: 3px;
}

.darkened {
    filter: brightness(0.3);
}

.project-cards-container {
    @include mix.project-card-display(280px, var.$project-cards-map);
}

@media only screen and (max-width: 760px) {
    header {
        padding: 0 25px;

        & > div:first-child {
            width: 200px;
        }

        & > div:nth-child(2) {
            display: none;
        }

        #menu-icon {
            display: inline-block;
            position: relative;
            width: 33px;
        
            div {
                position: absolute;
                height: 4px;
                background-color: black;
                width: 33px;
                transform-origin: left;
                border-radius: 1px;
                transition: 0.3s;

                &:first-child {
                    top: 22px;
                }

                &:nth-child(2) {
                    top: 33px;
                }

                &:last-child {
                    top: 44px;
                }
            }

            &.show {
                div:first-child {
                    transform: rotate(45deg) scaleX(94%);
                }

                div:nth-child(2) {
                    opacity: 0;
                }

                div:last-child {
                    transform: rotate(-45deg) scaleX(94%);
                }
            }
        }

        h1 a span {
            display: none;
        }
    }

    main {
        padding: (var.$header-height + 50px) 20px;
    }
}