@use "var";
@use "mix";

#greeting {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-bottom: 50px;

    div:first-child {
        display: inline-block;
        width: 400px;
        height: 300px;
        margin-right: 4vw;
        box-sizing: border-box;
        background-image: url("/img/self_portrait.jpg");
        background-size: cover;
        background-position: center;
        background-origin: content-box;
        background-repeat: no-repeat;
        border-radius: var.$card-border-radius;
        box-shadow: var.$box-shadow;
    }

    div:nth-child(2) {
        display: inline-block;
        font-size: 18px;
        max-width: 700px;

        h2 {
            font-size: 2em;
            font-weight: bold;
            margin-top: 0.4em;
            margin-bottom: 0.4em;
        }

        h3 {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 0.8em;
        }

        p {
            line-height: 1.3em;
            margin-bottom: 0.8em;

            // &:last-child {
            //     margin-top: 30px;
            // }
        }
    }
}

#contact {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
    box-sizing: border-box;
    border-radius: var.$card-border-radius;
    font-size: 18px;

    & > div {
        padding: 0 20px;
    }

    & > div:first-child {
        flex-grow: 1;
        padding-right: 40px;
        border-right: 2px solid #CCCCCC;
    }

    & > div:last-child {
        padding-left: 40px;
        flex-basis: 360px;
        flex-grow: 0;
        flex-shrink: 0;
        order: 2;
    }

    h3 {
        font-size: 1.5em;
        font-weight: 500;
        margin-bottom: 20px;
    }

    form {
        div {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
        }

        span {
            margin-left: 4px;
            font-size: 0.78em;
            color: #B70104;

            &.success {
                color: #009008;
            }
        }
    }

    input {
        display: inline-block;
        width: 45%;
        min-width: 250px;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 2px solid #CCCCCC;
        transition: border-bottom-color 0.2s;
        margin-bottom: 18px;

        &:first-child {
            margin-right: 10%;

            &:focus {
                border-bottom-color: mix.random-focus-color()
            }
        }

        &:nth-child(2):focus {
            border-bottom-color: mix.random-focus-color()
        }
    }

    textarea {
        width: 100%;
        height: 150px;
        padding: 10px;
        margin-bottom: 18px;
        box-sizing: border-box;
        background-color: var.$card-background;
        border-radius: var.$card-border-radius;
        border: 2px solid #CCCCCC;
        outline: none;
        resize: none;
        transition: border-color 0.2s;

        &:focus {
            border-color: mix.random-focus-color();
        }
    }

    button {
        width: 130px;
        padding: 5px 20px;
        border: 2px solid #CCCCCC;
        border-radius: 20px;
        background-color: var.$card-background;
        cursor: pointer;
    }

    p {
        height: 40px;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;

        a {
            display: inline-flex;
            justify-content: left;
            align-items: center;
            height: 100%;
            width: 190px;
            padding: 5px 20px 5px 0;
            box-sizing: border-box;
            text-decoration: none;
            color: black;
            background-color: var.$card-background;
            border-radius: 20px;
            border: 2px solid #CCCCCC;

            img {
                display: inline-block;
                height: 100%;
                width: 67px;
                object-fit: contain;
            }

            span {
                font-size: 1.1em;
                line-height: 40px;
            }
        }

        &:nth-child(2) a img {
            position: relative;
            left: 2.6px;
        }

        &:nth-child(4) a img {
            position: relative;
            bottom: -1px;
            transform: scale(1.15);
        }
    }
}