@use "var";
@use "mix";

body {
    overflow-x: hidden;
}

#resume-text {
    font-size: 18px;
    width: 100%;
    min-width: 280px;
    margin: 0 auto;

    & > h2 {
        width: 100%;
        font-size: 3em;
        font-weight: 600;
        margin-bottom: 1em;
        text-align: center;
    }

    #skills-exp {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        section:first-child {
            margin-right: 25px;
            width: 320px;
        }

        section:last-child {
            margin-left: 25px;
            width: 480px;
        }
    }

    section {
        margin-bottom: 50px;

        h2 {
            font-size: 2em;
            font-weight: 600;
            margin-bottom: 0.5em;
        }
    }

    & > section h2 {
        text-align: center;
    }

    h3 {
        font-size: 1.2em;
        line-height: 25.2px;
        margin-bottom: 18px;

        &.bold {
            font-weight: 500;
        }
    }

    p {
        line-height: 25.2px;
        margin: 0.6em 0;
        
        img {
            height: 1.4em;
            width: 64px;
            vertical-align: top;
            object-fit: contain;
        }
    }

    @media only screen and (max-width: 1000px) {
        section {
            margin-left: 0;
            margin-right: 0;

            h2, h3 {
                text-align: center;
            }
        }
    }
}

#resume-download {
    display: block;
    width: 225px;
    margin: 0 auto;
    padding: 13px 20px;
    border-radius: 8px;
    border: 2px solid #BA181B;
    background-color: #BA181B;
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: transparent;
        color: #BA181B;
    }
}